<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>proj-html-vuejs</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root">
            <div class="container-home" v-if="isVisible">
                <header>
                    <div class="logo">
                        <img src="images/avada-music-logo.png" alt="">
                    </div>
                    <div class="hamburger-menu" @click="openCloseDropdownMenu()">
                        <i class="fas fa-bars"></i>
                    </div>
                </header>
                <div class="untold-story text-center">
                    <h1 class="font-weight-bold">
                        Untold Stories
                    </h1>
                    <p>
                        There is an untold story behind every   favorite song.
                    </p>
                    <button class="primary text-uppercase" type="button" name="button">latest album</button>
                    <button class="secondary text-uppercase" type="button" name="button">live dates</button>
                </div>
            </div>
            <div class="menu" v-else>
                <div class="header-menu">
                    <div class="logo">
                        <img src="images/avada-music-logo.png" alt="">
                    </div>
                    <div class="close" @click="openCloseDropdownMenu()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="menu-items text-center">
                    <ul>
                        <li v-for="item in menuItems">{{ item }}</li>
                    </ul>
                </div>
            </div>
            <div class="introduction">
                <div class="container-small text-center">
                    <div class="colored-row">

                    </div>
                    <h2>Music is life</h2>
                    <div class="row">
                        <hr>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <main>
                <div class="blog">
                    <div class="container-small text-center">
                        <h2>Latest Band News</h2>
                        <div class="row">
                            <hr>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="container-box-left col-xs-8">
                                <div class="row">
                                    <div class="box-left-top col-xs-12">
                                        <div class="horizontal-image left-top">
                                            <span>Technology and music</span>
                                            <div class="image-text">
                                                <h3>Technology and music</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box-left-center left col-xs-6">
                                        <div class="vertical-image left">
                                            <span>Why my guitar gently weeps</span>
                                            <div class="image-text">
                                                <h3>Why my guitar gently weeps</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-left-center right col-xs-6">
                                        <div class="vertical-image right">
                                            <span>It just sounds better</span>
                                            <div class="image-text">
                                                <h3>It just sounds better</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box-left-bottom col-xs-12">
                                        <div class="horizontal-image left-bottom">
                                            <span>Technology and music</span>
                                            <div class="image-text">
                                                <h3>The flavor of rock</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-box-right col-xs-4">
                                <div class="row">
                                    <div class="box-right-top col-xs-12">
                                        <div class="vertical-image right-top">
                                            <span>Take it back to the old school</span>
                                            <div class="image-text">
                                                <h3>Take it back to the old school</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="box-right-bottom col-xs-12">
                                        <div class="vertical-image right-bottom">
                                            <span>Sharing the stage with a legend</span>
                                            <div class="image-text">
                                                <h3>Sharing the stage with a legend</h3>
                                                <p>Sed sit amet sem turpit.Curabitur cursus lacinia est at interdum risus id condimentum.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="button-link text-uppercase">
                    <span class="link" href="#">view all latest news</span>
                </a>
                <div class="quotes">
                    <div class="container-small text-center">
                        <p class="text-quotes">"I just listened to it and said to myself, "Man, i really love this album." Still, today, it just sounds so fresh. It sounds full of ideas. These guys knew what they were doing. they're good. And they're inventive. I haven't heard anything this year that's as inventive. I don't really exepct to." </p>
                        <div class="play">
                            <img src="images/band_interview_play_icon.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="lives text-center">
                    <div class="container-small">
                        <h2>Live Dates</h2>
                        <div class="row">
                            <hr>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="container text-left">
                        <div class="live-dates" v-for="live in lives">
                            <a class="live" href="#">
                                <span><i class="fas fa-plus"></i></span>
                                <span class="text-uppercase">{{ live.date }} {{ live.name }} {{live.place}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="button-link text-uppercase">
                    <span class="link" href="#">view all live dates</span>
                </a>
            </main>
            <footer>
                <div class="footer-menu">
                    <div class="logo-footer">
                        <img src="images/logo_footer.png" alt="">
                    </div>
                    <div class="menu-footer">
                        <ul>
                            <li v-for="item in menuItems">
                                <a href="#">{{ item }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="copyright">
                        <p>Copyright 2012 - 2020 | AVADA THEME BY THEMEFUSION | ALL RIGHTS RESERVED | POWERED BY WORDPRESS</p>
                    </div>
                    <div class="social-icon">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
