* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #fefefe;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-size: 16px;
    color: #ea4a56;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0;
}

.container::after {
    content: '';
    clear: both;
    display: table;
}

.container-small {
    max-width: 600px;
    margin: auto;
}

.container-small p {
    color: #737376;
}

.row {
    display: flex;
    justify-content: center;
}

hr {
    width: 200px;
    border-top-color: #7780a4;
}

/****** HEADER ******/
.container-home {
    background-image: url(images/home_slider.jpg);
    background-size: cover;
    background-position: left;
    padding-bottom: 200px;
}

header {
    height: 70px;
    padding: 10px 40px;
    display: flex;
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.logo-header {
    max-width: 200px;
}

.menu {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fefefe;
}

.menu i {
    font-size: 20px;
}

.untold-story {
    color: #fefefe;
}

.untold-story h1 {
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 100px;
    font-weight: bold;
}

.untold-story p {
    margin-bottom: 40px;
    font-size: 16px;
    font-style: italic;
}

button.primary {
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid #ea4a56;
    border-radius: 2px;
    background-color: #ea4a56;
}

button.secondary {
    margin-left: 5px;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid #fefefe;
    border-radius: 2px;
    color: #fefefe;
    background-color: transparent;
}

/****** INTRODUCTION ******/
.colored-row {
    width: 300px;
    height: 10px;
    margin: auto;
    background-color: #eb4b54;
}

.introduction {
    padding-bottom: 50px;
    background-color: #323844;
}

.introduction h2 {
    margin-top: 40px;
}

/****** NEWS ******/
.wrapper {
    padding: 50px 0;
    background-color: #272b34;
}

/****** NEWS BOX ******/
.box-left-top, .box-left-bottom {
    height: 180px;
}

.box-left-top {
    margin-bottom: 15px;
}

.box-left-bottom {
    margin-top: 15px;
}

.box-left-center.left, .box-left-center.right {
    height: 360px;
    margin: 15px 0;
}

.box-right-top, .box-right-bottom {
    height: 360px;
}

.box-right-top {
    margin-bottom: 30px;
}

.box-right-bottom {
    margin-top: 30px;
}

.horizontal-image {
    height: 60%;
    width: 100%;
}

.box-left-top .image-text, .box-left-bottom .image-text {
    height: 40%;
    padding: 10px;
}

.vertical-image {
    height: 70%;
}

.box-left-center .image-text, .box-right-top .image-text, .box-right-bottom .image-text {
    height: 30%;
    padding: 10px;
}

.horizontal-image.left-top {
    background-image: url(images/blog_music_techo-400x200.jpg);
    background-size: cover;
}

.vertical-image.left {
    background-image: url(images/blog-post3-200x300.jpg);
    background-size: cover;
}

.vertical-image.right {
    background-image: url(images/blog-post4-200x300.jpg);
    background-size: cover;
}

.horizontal-image.left-bottom {
    background-image: url(images/blog_flavor_rock-400x200.jpg);
    background-size: cover;
}

.vertical-image.right-top {
    background-image: url(images/blog-post1-200x300.jpg);
    background-size: cover;
}

.vertical-image.right-bottom {
    background-image: url(images/blog-post2-200x300.jpg);
    background-size: cover;
}

.image-text p {
    color: #737376;
}

.image-text {
    background-color: #323844;
}
