* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home {
    background-image: url(images/home_slider.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 200px;
}

header {
    height: 70px;
    padding: 10px 40px;
    display: flex;
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

.menu {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fefefe;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.untold-story {
    color: #fefefe;
}

.untold-story h1 {
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 100px;
    font-weight: bold;
}

.untold-story p {
    margin-bottom: 40px;
    font-size: 16px;
    font-style: italic;
}

button.primary {
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid #ea4a56;
    border-radius: 2px;
    background-color: #ea4a56;
}

button.secondary {
    margin-left: 5px;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid #fefefe;
    border-radius: 2px;
    color: #fefefe;
    background-color: transparent;
}

.menu i {
    font-size: 20px;
}

.logo-header {
    max-width: 200px;
}
