* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

h2 {
    font-size: 60px;
    font-weight: bold;
    color: #fefefe;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ea4a56;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-family: 'Merriweather', serif;
}

.container-small {
    max-width: 800px;
    margin: auto;
}

.container-small p {
    color: #737376;
}

.row {
    display: flex;
    justify-content: center;
}

hr {
    width: 300px;
    border-top-color: #7780a4;
}

button.primary:hover, button.secondary:hover, a.button-link:hover {
    background-color: #fefefe;
    color: #272b34;
}

button.primary:hover {
    border: 1px solid #fefefe;
}

/****** HEADER ******/
.container-home {
    background-image: url(images/home_slider.jpg);
    background-size: cover;
    background-position: left;
    padding-bottom: 200px;
}

header, .header-menu {
    height: 131px;
    padding: 28px 40px;
}

.logo, .hamburger-menu {
    float: left;
    height: 100%;
    width: 50%;
}

.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fefefe;
}

.hamburger-menu i {
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 927px;
    width: 100%;
    background-color: #ea4a56;
    position: fixed;
    z-index: 10;
}

.close {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.5;
}

.close:hover {
    opacity: 1;
}

.close i {
    color: #fefefe;
    font-size: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: #fefefe;
    opacity: 0.5;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items li {
    padding: 20px 0;
    cursor: pointer;
}

.fade, {
  transition: opacity 0.5s;
}

.untold-story {
    color: #fefefe;
}

.untold-story h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 150px;
    font-weight: bold;
}

.untold-story p {
    margin-bottom: 40px;
    font-size: 24px;
    font-style: italic;
}

button.primary {
    margin-right: 5px;
    padding: 17px 40px;
    font-size: 16px;
    border: 1px solid #ea4a56;
    border-radius: 2px;
    background-color: #ea4a56;
}

button.secondary {
    margin-left: 5px;
    padding: 17px 40px;
    font-size: 16px;
    border: 1px solid #fefefe;
    border-radius: 2px;
    color: #fefefe;
    background-color: transparent;
}

/****** INTRODUCTION ******/
.colored-row {
    width: 400px;
    height: 15px;
    margin: auto;
    background-color: #eb4b54;
}

.introduction {
    padding-bottom: 60px;
    background-color: #323844;
}

.introduction h2 {
    margin-top: 60px;
}

/****** BLOG ******/
.blog {
    padding: 100px 0;
    background-color: #272b34;
}

.blog p {
    margin-bottom: 50px;
}

/****** BLOG BOX ******/
.box-left-top, .box-left-bottom {
    height: 280px;
}

.box-left-top {
    margin-bottom: 15px;
}

.box-left-bottom {
    margin-top: 15px;
}

.box-left-center.left, .box-left-center.right {
    height: 560px;
    margin: 15px 0;
}

.box-right-top, .box-right-bottom {
    height: 575px;
}

.box-right-top {
    margin-bottom: 15px;
}

.box-right-bottom {
    margin-top: 15px;
}

.horizontal-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.horizontal-image span {
    display: none;
    color: white;
    font-size: 20px;
    font-size: bold;
}

.horizontal-image:hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-image:hover span {
    display: block;
}

.horizontal-image:hover .image-text {
    display: none;
}

.vertical-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.vertical-image span {
    display: none;
    color: white;
    font-size: 20px;
    font-size: bold;
}

.vertical-image:hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-image:hover span {
    display: block;
    padding: 25px;
    text-align: center;
}

.vertical-image:hover .image-text {
    display: none;
}

.box-left-top .image-text, .box-left-bottom .image-text {
    /* height: 40%; */
    padding: 30px 25px 20px;
}

.box-left-center .image-text, .box-right-top .image-text, .box-right-bottom .image-text {
    /* height: 30%; */
    padding: 30px 25px 20px;
}

.image-text p {
    margin: 0;
    line-height: 30px;
}

.horizontal-image.left-top {
    background-image: url(images/blog_music_techo-800x400.jpg);
    background-size: cover;
    background-position: center;
}

.horizontal-image.left-top:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog_music_techo-800x400.jpg);
}

.vertical-image.left {
    background-image: url(images/blog-post3-400x600.jpg);
    background-size: cover;
}

.vertical-image.left:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog-post3-400x600.jpg);
}

.vertical-image.right {
    background-image: url(images/blog-post4-400x600.jpg);
    background-size: cover;
}

.vertical-image.right:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog-post4-400x600.jpg);
}

.horizontal-image.left-bottom {
    background-image: url(images/blog_flavor_rock-800x400.jpg);
    background-size: cover;
}

.horizontal-image.left-bottom:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog_flavor_rock-800x400.jpg);
}

.vertical-image.right-top {
    background-image: url(images/blog-post1-400x600.jpg);
    background-size: cover;
}

.vertical-image.right-top:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog-post1-400x600.jpg);
}

.vertical-image.right-bottom {
    background-image: url(images/blog-post2-400x600.jpg);
    background-size: cover;
}

.vertical-image.right-bottom:hover {
    background-image: linear-gradient(to right, rgba(236, 77, 88, 0.75), rgba(236, 77, 88, 0.75)), url(images/blog-post2-400x600.jpg);
}

.image-text p {
    color: #737376;
}

.image-text {
    background-color: #323844;
}

/****** LINK-BUTTON ******/
a.button-link {
    padding: 70px;
    background-color: #eb4b54;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}



span.link {
    font-size: 16px;
    letter-spacing: 2px;
}

/****** QUOTES ******/
.quotes {
    background-image: url(images/home-testimonial-parallax.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

p.text-quotes {
    font-size: 20px;
    color: #fefefe;
    font-style: italic;
    line-height: 35px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.play img {
    cursor: pointer;
}

/****** LIVES ******/
.lives {
    background-color: #272b34;
    padding: 100px 0;
}

.lives p {
    margin-bottom: 40px;
}

.live-dates {
    width: 100%;
    margin: 10px 0;
    padding: 15px 25px;
    background-color: #323844;
}

.live-dates span i {
    color: #fefefe;
    margin-right: 25px;
}

a.live {
    font-size: 16px;
    text-decoration: none;
    color: #eb4b54;
    letter-spacing: 2px;
}

/****** FOOTER ******/
.footer-menu {
    display: flex;
    background-color: #323844;
    padding: 70px 40px;
}

.footer-copyright {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    background-color: #272b34;
}

.menu-footer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-footer li {
    display: inline-block;
}

.menu-footer a {
    font-family: 'Merriweather', serif;
    padding: 10px 15px;
    color: #737376;
    text-decoration: none;
}

.menu-footer a:hover {
    color: #fefefe;
}

.footer-copyright p {
    margin: 0;
    font-size: 12px;
    color: #737376;
}

.copyright {
    float: left;
    width: 80%;
}

.social-icon {
    display: flex;
    justify-content: flex-end;
    float: left;
    width: 20%;
}

.social-icon a {
    padding: 10px;
    color: #737376;
}
